
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../../../assets/logo_azul_eafit.png" alt="Logo de Kera Naidi">
                </a>
            </figure>
        </div>
        <div class="box-1">
            <h2>SOBRE NOSOTROS</h2>
            <h4>MEDELLÍN</h4>
            <ul>
                <li>EAFIT Medellín</li>
                <li>Carrera 13A # 98 - 75, piso 5</li>
                <li>Línea nacional: 01 8000 515 900</li>
                <li><a href="https://api.whatsapp.com/send?phone=573108992908" target="_blank">Whatsapp: (57) 310 8992908</a></li>
                <li><a href="https://www.eafit.edu.co/centrodevisitantes" target="_blank">Atención al Visitante</a></li>
            </ul>
        </div>
        <div class="box-1">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a routerLink="https://www.instagram.com/paramopresenta/" target="_blank" class="fa fa-instagram"></a>
                <a routerLink="https://x.com/paramo_presenta" target="_blank" class="fa fa-twitter"></a>
                <a routerLink="https://www.facebook.com/paramopresenta" target="_blank" class="fa fa-facebook"></a>
                <a routerLink="#" target="_blank" class="fa fa-linkedin"></a>
                <a routerLink="#" target="_blank" class="fa fa-youtube"></a>

                <div>
                </div>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2025 <b>KERA NAIDI</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
